### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [70]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [71]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [72]:
# Display file
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [73]:
# The dataset can have multiple entries per player. Find the number of unique players.
Players = purchase_data["SN"].unique()
Total_Players = len(Players)
Total_Players_df = pd.DataFrame({"Total Players": [Total_Players]})

Total_Players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [74]:
#Calculate number of unique items purchased
unique_items = purchase_data["Item Name"].unique()
num_unique_items = len(unique_items)
#Average price of items
avg_price = purchase_data["Price"].mean()
#Number of purchases
num_purchases = len(purchase_data["Purchase ID"])
#Total revenue
tot_revenue = purchase_data["Price"].sum()

#Create dataframe of purchasing analysis and format
Purchasing_Analysis_df = pd.DataFrame({"Number of Unique Items": [num_unique_items],
                                       "Average Price":[avg_price],
                                       "Number of Purchases":[num_purchases],
                                       "Total Revenue":[tot_revenue]
                                      })
Purchasing_Analysis_df.style.format({"Average Price": "${:.2f}",
                                    "Total Revenue": "${:,.2f}"
                                    })

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [75]:
#Find Gender for Unique Player Names
UniqueName_df = purchase_data.drop_duplicates(subset=['SN'])
Gender_Count = pd.value_counts(UniqueName_df["Gender"])
Percentage_Players = (Gender_Count / Total_Players)*100

#Create new dataframe with Gender data
Players_Gender_df = pd.DataFrame({"Total Count": Gender_Count,"Percentage of Players": Percentage_Players})
Players_Gender_df.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [76]:
#Find number of purchases made by each Gender
purchase_data.head()
Purchase_Count = pd.value_counts(purchase_data["Gender"],sort=False)
#Find the total purchase value for each Gender
Gender_Group_Sum = purchase_data.groupby(["Gender"]).sum()
Total_Purchase_Value = Gender_Group_Sum["Price"]
#Find the average price of purchases made by each Gender
Gender_Group_Avg = purchase_data.groupby(["Gender"]).mean()
Avg_Purchase_Price = Gender_Group_Avg["Price"]
#Find the average total purchase per person for each Gender
Avg_Tot_Purchase_Person = (Total_Purchase_Value/Gender_Count)

#Create new dataframe with Gender data
Purchasing_Analysis_Gender_df = pd.DataFrame({"Purchase Count": Purchase_Count,
                                              "Average Purchase Price": Avg_Purchase_Price,
                                              "Total Purchase Value":Total_Purchase_Value,
                                              "Avg Total Purchase per Person":Avg_Tot_Purchase_Person
                                             })
Purchasing_Analysis_Gender_df.style.format({"Average Purchase Price": "${:.2f}",
                                            "Total Purchase Value": "${:,.2f}",
                                            "Avg Total Purchase per Person":"${:.2f}"                                           
                                           })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [77]:
# Create the bins in which ages will be held 
bins = [0, 9, 14, 19, 24, 29, 34, 39, max(purchase_data["Age"])]

# Create the names for the bins for the age ranges
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

# Make a copy of the dataframe that has unique players to modify by adding the Age Range column
Unique_df = UniqueName_df.copy()
Unique_df["Age Range"] = pd.cut(Unique_df["Age"], bins, labels=group_names, include_lowest=True)

# Find total count and percentage of players within each age range 
Total_Count = Unique_df.groupby(["Age Range"]).size()

Percentage_Players = (Total_Count/Total_Players)*100

# New dataframe for age demographics
Age_Demo_df = pd.DataFrame({"Total Count": Total_Count,"Percentage of Players": Percentage_Players})

Age_Demo_df.style.format({ "Percentage of Players": "{:.2f}%" })

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:
# Make a copy of the original dataframe to add Age Range column
new_purchase_data = purchase_data.copy()
new_purchase_data["Age Range"]=pd.cut(new_purchase_data["Age"], bins, labels=group_names, include_lowest=True)

# Find the number of purchases made, average purchase price, total purchase price, average total purchase per person
Age_Count = pd.value_counts(Unique_df["Age Range"])
Purchase_Count = pd.value_counts(new_purchase_data["Age Range"],sort=False)
Age_Group_Sum = new_purchase_data.groupby(["Age Range"]).sum()
Total_Purchase_Value = Age_Group_Sum["Price"]
Age_Group_Avg = new_purchase_data.groupby(["Age Range"]).mean()
Avg_Purchase_Price = Age_Group_Avg["Price"]
Avg_Tot_Purchase_Person = (Total_Purchase_Value/Age_Count)

#Create new dataframe with Age Range data, make Age Range the index of this dataframe and format
Purchasing_Analysis_Age_df = pd.DataFrame({"Purchase Count": Purchase_Count,
                                              "Average Purchase Price": Avg_Purchase_Price,
                                              "Total Purchase Value":Total_Purchase_Value,
                                              "Avg Total Purchase per Person":Avg_Tot_Purchase_Person
                                             })
Purchasing_Analysis_Age_df.index.names = ['Age Range']

Purchasing_Analysis_Age_df.style.format({"Average Purchase Price": "${:.2f}",
                                        "Total Purchase Value": "${:,.2f}",
                                        "Avg Total Purchase per Person":"${:.2f}"                                           
                                        })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [80]:
# Calculate some metrics for each player
Purchase_Count = pd.value_counts(purchase_data["SN"])
Avg_SN = purchase_data.groupby(["SN"]).mean()
Avg_Purchase_Price = Avg_SN["Price"]
Sum_SN = purchase_data.groupby(['SN']).sum()
Tot_Purchase_Value = Sum_SN["Price"]

# Create a new dataframe with Spender data, and use that to create a top 5 Spender dataframe
Spenders_df = pd.DataFrame({"Purchase Count": Purchase_Count,
                            "Average Purchase Price": Avg_Purchase_Price,
                            "Total Purchase Value":Tot_Purchase_Value
                            })
Spenders_df.index.names = ['SN']
Spenders_df = Spenders_df.sort_values(by=['Total Purchase Value'],ascending=False)
Top_Spenders_df = Spenders_df.head()
Top_Spenders_df.style.format({"Average Purchase Price": "${:.2f}",
                          "Total Purchase Value": "${:.2f}"                                           
                         })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [81]:
# Group Item ID and Item Name and make a few calculations
Item_df = purchase_data[["Item ID","Item Name","Price"]]

Purchase_Count = Item_df.groupby(["Item ID","Item Name"]).size()

Avg_Item =Item_df.groupby(["Item ID","Item Name"]).mean()
Avg_Item_Price = Avg_Item["Price"]

Sum_Item = Item_df.groupby(["Item ID","Item Name"]).sum()
Tot_Purchase_Value = Sum_Item["Price"]

# Create a new dataframe and make Item ID and Item Name the indicies
Items_Analysis_df = pd.DataFrame({
                            "Purchase Count": Purchase_Count,
                            "Average Item Price": Avg_Item_Price,
                            "Total Purchase Value":Tot_Purchase_Value
                            })

Items_Analysis_df = Items_Analysis_df.sort_values(by=['Purchase Count'], ascending=False)
Popular_Items_df = Items_Analysis_df.head()

Popular_Items_df.style.format({"Purchase Count": "{:.0f}",
                            "Average Item Price": "${:.2f}",
                          "Total Purchase Value": "${:.2f}"                                           
                        })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [82]:
# Create a new dataframe that shows the most profitable items
Profitable_df = Items_Analysis_df.sort_values(by=['Total Purchase Value'], ascending=False)
Most_Profitable_Items_df = Profitable_df.head()


Most_Profitable_Items_df.style.format({"Purchase Count": "{:.0f}",
                            "Average Item Price": "${:.2f}",
                          "Total Purchase Value": "${:.2f}"                                           
                        })